Repository Azure/Azurite, pull requests merged in 2019-12, with the labels that each got.

#297 Fix get snapshot 404 issue, and add API version validation
  ChangeLog.md
  src/blob/context/blobStorageContext.middleware.ts
  src/blob/persistence/LokiBlobMetadataStore.ts
  src/blob/persistence/SqlBlobMetadataStore.ts
  src/blob/utils/constants.ts
  src/common/utils/utils.ts
  src/queue/context/queueStorageContext.middleware.ts
  src/queue/utils/constants.ts
Labels: NewArch, blob-storage, ga

#309 Fixed a race condition that GC will delete active write extents; Force flush data into disk before request returns;
  ChangeLog.md
  src/blob/gc/BlobGCManager.ts
  src/common/persistence/FDCache.ts
  src/common/persistence/FSExtentStore.ts
  src/common/persistence/IExtentStore.ts
  src/common/persistence/IFDCache.ts
  src/queue/gc/QueueGCManager.ts
Labels: NewArch, blob-storage, ga, queue-storage

#315 Block blockID longer than 64, fixed #289
  ChangeLog.md
  src/blob/errors/StorageErrorFactory.ts
  src/blob/handlers/BlockBlobHandler.ts
Labels: NewArch, blob-storage, ga

#319 Add a test case for unicode blob name #282
  tests/blob/specialnaming.test.ts
Labels: NewArch, blob-storage, ga

#316 Added support to create block blob with empty block list, fixed #277
  ChangeLog.md
  src/blob/errors/StorageErrorFactory.ts
  src/blob/handlers/BlockBlobHandler.ts
  src/blob/persistence/LokiBlobMetadataStore.ts
  src/blob/persistence/SqlBlobMetadataStore.ts
  tests/blob/apis/blockblob.test.ts
Labels: NewArch, blob-storage, ga

#341 Fixed a bug that Azurite Blob service cannot start in Mac as Visual Studio Extension, fixed #302
  ChangeLog.md
  package.json
  src/common/VSCServerManagerBlob.ts
  src/common/VSCServerManagerQueue.ts
Labels: NewArch, blob-storage, ga, vsc

#342 Fixed a bug that set blob tier doesn't work with account SAS. Fixed #306
  ChangeLog.md
  src/blob/authentication/OperationAccountSASPermission.ts
  tests/blob/sas.test.ts
Labels: NewArch, blob-storage, bug, ga

#348 Fixed a bug that uncommiited block blob invalid length. Fixed #327
  ChangeLog.md
  src/blob/persistence/LokiBlobMetadataStore.ts
  src/blob/persistence/SqlBlobMetadataStore.ts
  tests/blob/apis/blockblob.test.ts
Labels: NewArch, blob-storage, ga

#349 Added a test case for commit existing blocks, #323
  tests/blob/apis/blockblob.test.ts
Labels: NewArch, blob-storage, ga

#350 Fixed issues mentioned in #337 during CPP SDK testing
  ChangeLog.md
  src/blob/handlers/BlobHandler.ts
  src/blob/handlers/PageBlobHandler.ts
  src/blob/utils/utils.ts
  src/common/ZeroBytesStream.ts
  tests/blob/apis/pageblob.test.ts
Labels: NewArch, blob-storage, ga

#352 GC Fix
  ChangeLog.md
  src/blob/BlobServerFactory.ts
  src/blob/persistence/BlobReferredExtentsAsyncIterator.ts
  src/blob/persistence/LokiBlobMetadataStore.ts
  src/common/persistence/FSExtentStore.ts
Labels: NewArch, blob-storage, ga

#355 [Breaking] Updated persistencyId to locationId for extent model
  BreakingChanges.md
  ChangeLog.md
  package.json
  src/azurite.ts
  src/blob/BlobServerFactory.ts
  src/blob/utils/constants.ts
  src/common/VSCServerManagerBlob.ts
  src/common/VSCServerManagerQueue.ts
  src/common/persistence/FSExtentStore.ts
  src/common/persistence/IExtentMetadataStore.ts
  src/common/persistence/IExtentStore.ts
  src/common/persistence/LokiExtentMetadataStore.ts
  src/common/persistence/SqlExtentMetadataStore.ts
  src/queue/main.ts
  src/queue/utils/constants.ts
  tests/BlobTestServerFactory.ts
  tests/queue/apis/messageid.test.ts
  tests/queue/apis/messages.test.ts
  tests/queue/apis/queue.test.ts
  tests/queue/apis/queueService.test.ts
  tests/queue/queueAuthentication.test.ts
  tests/queue/queueCorsRequest.test.ts
  tests/queue/queueSas.test.ts
  tests/queue/queueSpecialnaming.test.ts
Labels: NewArch, blob-storage, ga

#356 [Breaking] Apply LokiFsStructuredAdapter as default blob metadata lok…
  BreakingChanges.md
  ChangeLog.md
  src/blob/persistence/LokiBlobMetadataStore.ts
  src/blob/utils/constants.ts
  src/common/utils/utils.ts
Labels: NewArch, blob-storage, ga

#358 Added loose mode and block unsupported headers by default
  .vscode/launch.json
  BreakingChanges.md
  ChangeLog.md
  README.md
  package.json
  src/azurite.ts
  src/blob/BlobConfiguration.ts
  src/blob/BlobEnvironment.ts
  src/blob/BlobRequestListenerFactory.ts
  src/blob/BlobServer.ts
  src/blob/BlobServerFactory.ts
  src/blob/IBlobEnvironment.ts
  src/blob/SqlBlobConfiguration.ts
  src/blob/SqlBlobRequestListenerFactory.ts
  src/blob/SqlBlobServer.ts
  src/blob/errors/StrictModelNotSupportedError.ts
  src/blob/middlewares/StrictModelMiddlewareFactory.ts
  src/blob/persistence/LokiBlobMetadataStore.ts
  src/blob/utils/constants.ts
  src/common/ConfigurationBase.ts
  src/common/Environment.ts
  src/common/IEnvironment.ts
  src/common/VSCEnvironment.ts
  src/common/VSCQueueEnvironment.ts
  src/common/VSCServerManagerBlob.ts
  src/common/VSCServerManagerQueue.ts
  src/common/persistence/FSExtentStore.ts
  src/common/persistence/LokiExtentMetadataStore.ts
  src/queue/IQueueEnvironment.ts
  src/queue/QueueConfiguration.ts
  src/queue/QueueEnvironment.ts
  src/queue/main.ts
  tests/BlobTestServerFactory.ts
  tests/blob/apis/blob.test.ts
  tests/blob/blockblob.highlevel.test.ts
  tests/blob/sas.test.ts
Labels: NewArch, ga

#362 Bump up version number to 3.4.0; Update documents;
  BreakingChanges.md
  ChangeLog.md
  README.mcr.md
  README.md
  package-lock.json
  package.json
  src/blob/utils/constants.ts
  src/queue/utils/constants.ts
Labels: NewArch, ga
