Repository Azure/Azurite, pull requests merged in 2022-08, with the labels that each got.

#1569 feat: add scripts for building multi-architecture azurite docker images
  package.json
Labels: docker

#1616 Fix issue 1579: Missing etag in header for GET Operation
  src/table/handlers/TableHandler.ts
  tests/table/apis/table.entity.rest.test.ts
Labels: table-storage

#1652 Updates to batch MIME serialization
  ChangeLog.md
  src/table/batch/TableBatchOrchestrator.ts
  src/table/batch/TableBatchSerialization.ts
  tests/table/dotnet/.gitignore
  tests/table/dotnet/AzuriteTableTest.sln
  tests/table/dotnet/AzuriteTableTest/AzuriteTableTest.csproj
  tests/table/dotnet/AzuriteTableTest/GenericTests.cs
  tests/table/dotnet/AzuriteTableTest/Program.cs
  tests/table/dotnet/AzuriteTableTest/TestForDataTablesDeleteBatch.cs
  tests/table/dotnet/AzuriteTableTest/TestForIssue1286.cs
  tests/table/dotnet/AzuriteTableTest/TestForIssue1439.cs
  tests/table/dotnet/AzuriteTableTest/TestForIssue1493.cs
  tests/table/dotnet/AzuriteTableTest/TestForIssue791.cs
  tests/table/dotnet/AzuriteTableTest/TestForIssue793.cs
  tests/table/dotnet/AzuriteTableTest/TestTableEntity.cs
  tests/table/go/main.go
  tests/table/unit/serialization.unit.test.ts
Labels: table-storage, table-batch, service-parity
