Repository Azure/Azurite, pull requests merged in 2023-05, with the labels that each got.

#1959 Ensures case insensitivity on boolean query values in table service api
  ChangeLog.md
  src/table/persistence/QueryTranscriber/PredicateModel/BooleanPredicate.ts
  src/table/persistence/QueryTranscriber/QPState.ts
  tests/table/apis/table.entity.query.test.ts
Labels: table-storage, table-query

#1843 Fix subStringEnd calculation
  ChangeLog.md
  src/common/batch/BatchOperation.ts
  src/table/batch/TableBatchSerialization.ts
  tests/table/unit/deserialization.unit.test.ts
  tests/table/unit/mock.request.serialization.strings.ts
Labels: table-storage, table-batch

#1973 fix: Resolve issues with reserved character use in query strings (allowing both interpolation injection and causing evaluation failures)
  ChangeLog.md
  src/table/persistence/QueryTranscriber/PredicateModel/StringPredicate.ts
  src/table/persistence/QueryTranscriber/StateQueryFinished.ts
  tests/table/apis/table.entity.query.test.ts
  tests/table/unit/LokiJsQueryTranscriber.unit.test.ts
Labels: table-storage
